.banner{
    width: 100%;
    max-width: 100%;
}
.banner img {
    width: 100%;
    height: auto;
    display: block;
}
.round-btn {
    padding: 10px 20px;
    background-color: aqua;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
}
.navbar {
    background-color: aqua;
    padding: 12px;
    display: flex;
    gap: 20px;
}
.navbar a {
    color: #3426ff;
    text-decoration: none;
}
.navbar a:hover {
    color: aquamarine;
}
body{
    font-size: 20px;
}